.sid3bar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 67px;
  background-color: rgb(255, 255, 255);
  width: 77px;
  z-index: 2;
}

.home-icon{
  height: 20px;
  width: 20px;
  margin-left: 9px;
}

.sidebar-link{
  background-color: rgb(255, 255, 255);
  height: 76px;
  margin-bottom: 9px;
  font: Roboto, Arial;
  font-size:small;
  border-radius: 12px;
}

.sidebar-link:hover{
  background-color: rgb(241, 240, 240);
  cursor: pointer;
}

.side-icons{
  margin-top: 20px;
  height: 23px;
  max-width: 30px;
  margin-left: 23px;
}

.side-text{
  font: Roboto, Arial;
  font-size: 12px;
  top: 0px;
  text-align: center;
  text-align: top;
}